.header {
  padding: 0px 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.menuBlock {
  width: 5%;
}

.compLogo {
  width: 100%;
  cursor: pointer;
}

.text {
  color: white;
  min-width: 490px;
}

.logoBlock {
  width: 20%;
}

.titleBlock {
  width: 55%;
}

.emailButton {
  width: 10%;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  background: rgb(19, 211, 19);
  color: white;
  transition: 0.2s;
}

.emailButton:hover {
  background: green;
}

.searchBlock {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputText {
  width: 200px !important;
  background: white !important;
  height: 30px !important;
  border-radius: 5px !important;
}

.errorSearch {
  color: red !important;
  position: absolute;
  top: 40px;
  right: 170px;
}
