body {
  position: relative;
  background: rgb(0, 0, 0);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fa-search {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.fa-envelope {
  color: white;
}

.fa-bars {
  color: white;
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  height: 50px;
  transition: 0.3s;
}

.fa-bars:hover {
  cursor: pointer;
  border: 1px solid white;
}

p {
  width: 200px;
  white-space: nowrap;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

b {
  color: white;
}
